// default styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #2C2B2B;
}

a {
    text-decoration: none !important;
    outline: none !important;
    transition: .3s !important;
}

path,
rect {
    transition: .3s !important;
}

button {
    outline: none !important;
    transition: .3s !important;
    border: none !important;
}

textarea {
    resize: none !important;
}

ul,
li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.custom-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

// default styles

// main.html----------------------------------

.header-top {
    background-color: #5F5F5F;

}

.header-top-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 63px;

    .call-btn {
        margin-left: 50px;
        width: 139px;
        height: 37px;
        background-color: #149B05;
        border-radius: 4px;
        font-size: 14px;
        line-height: 37px;
        text-align: center;

        &:hover {
            background-color: #fff;
            color: #5F5F5F;
        }
    }

    .header-top-item-phone {
        margin-left: 100px;
        position: relative;

        &::before {
            position: absolute;
            left: -25px;
            top: -1px;
            content: '';
            width: 20px;
            height: 20px;
            background: url(../img/phone-ico.png) no-repeat 50% 50%;
        }
    }

    .header-top-item-social a {
        margin-left: 15px;

        &:hover svg path {
            fill: #83CF7B;
        }
    }

    a {
        color: #fff;
    }
}

.header-bottom-inner {
    min-height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 720px;

        a {
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: #2C2B2B;
            font-weight: 600;

            &:hover {
                color: #149B05;
            }

            &:focus {
                color: #149B05;
            }
        }

        li {
            position: relative;

            .slide-content {
                position: absolute;
                text-transform: none;
                display: flex;
                flex-direction: column;
                display: none;
                z-index: 10;

                .slide-content-item1 {
                    position: absolute;
                    top: 5px;
                    left: 31px;
                    width: 2px;
                    height: 18px;
                    background-color: #149B05;

                    &::after {
                        content: '';
                        position: absolute;
                        top: -8px;
                        left: -58px;
                        width: 200px;
                        height: 50px;
                        background-color: transparent;
                    }
                }

                .slide-content-item2 {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 30px;
                    left: -30px;
                    font-size: 14px;
                    line-height: 21px;
                    color: #484848;
                    background-color: #fff;
                    border: 1px solid #C4C4C4;
                    border-radius: 4px;
                    padding: 15px;
                    min-width: 212px;

                    a {
                        text-transform: none;
                        margin-bottom: 8px;

                        &:hover {
                            color: #149B05;
                        }
                    }

                    a:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: #616161;
    color: #C4C4C4;

    a {
        color: #fff;
    }

    .footer-top {
        min-height: 124px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-top-left span,
        .footer-top-left a {
            margin-right: 8px;
        }

        .footer-top-left a:hover {
            color: #149B05;
        }

        .footer-top-right span.addr {
            color: #fff;
            margin-left: 8px;
        }
    }


    .footer-bottom {
        min-height: 89px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        position: relative;

        .footer-bottom-left {
            max-width: 483px;

            span {
                display: block;
                margin-bottom: 10px;

                a {
                    margin-left: 10px;
                    border-bottom: 1px solid #fff;

                    &:hover {
                        border-bottom-style: dotted;
                    }
                }
            }

            div a {
                color: #C4C4C4;

                &:hover {
                    color: #fff;
                }
            }
        }

        &::before {
            position: absolute;
            top: 0;
            content: '';
            height: 1px;
            left: -500%;
            width: 1000%;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .footer-bottom-right {
            display: flex;
            align-items: center;

            .links {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-right: 10px;

                a {
                    padding: 1px 0;
                    color: #C4C4C4;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

// main.html-----------------------------------

// index.html----------------------------------

.slider-block .slide {
    min-height: 570px;
    // max-width: 1920px;
    background: url(../img/slide-img.jpg) no-repeat 50% 50%;
    background-size: cover;
    outline: none;
    position: relative;

    .slide-wrap {
        position: absolute;
        top: 32%;
        left: 28%;

        .phrase1 {
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            color: #484848;
            background: #fff;
            border-radius: 4px;
            min-width: 611px;
            min-height: 114px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .phrase2 {
            font-size: 44px;
            line-height: 44px;
            color: #fff;
            background: #FA9371;
            border-radius: 4px;
            max-width: 361px;
            min-height: 105px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 30%;
            margin-top: -4%;
        }
    }
}

.slick-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(36, 36, 36, 0.9);
    position: absolute;
    top: calc(50% - 24px);
    z-index: 3;
    position: relative;

    &:hover {
        background-color: #149B05;
    }
}

.slick-prev {
    left: 2%;
    position: absolute;
    background-image: url(../img/prev-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slick-next {
    right: 2%;
    position: absolute;
    background-image: url(../img/next-arrow.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.block-title h1 {
    margin: 60px 0 8px;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #2C2B2B;
}

.block-title-line {
    width: 53px;
    height: 8px;
    background: #149B05;
}

.catalog-items {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catalog-fon {
    height: 100%;
    background: url(../img/catalog-fon.jpg) no-repeat 50% 50%;
    width: 100%;
    // background-size: contain;
}

.catalog-item {
    width: 25%;
    padding: 15px;
    min-width: 197px;
    min-height: 215px;
    display: flex;
    justify-content: center;
}

a.catalog-item-link {
    width: 197px;
    padding: 15px;
    background: #fff;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;

    svg {
        margin: 25px 0 20px;
    }

    h2 {
        font-size: 16px;
        line-height: 16px;
        color: #484848;
        text-align: center;
        font-weight: 400;
    }

    &:hover {
        border: 1px solid #149B05;
        outline: 1px solid #149B05;
    }

    &:hover svg path {
        fill: #FA9371;
    }

    &:hover svg rect {
        fill: #FA9371;
    }

    &:hover h2 {
        color: #242424;
    }
}

a.catalog-item-link:hover svg.electro path:last-child {
    fill: #fff !important;
}

.stocks-slider {
    padding: 20px 0 70px;
    min-height: 640px;
}

// index.html----------------------------------

// catalog.html----------------------------------

.crumbs {
    background: url(../img/crumbs-fon.jpg) no-repeat 50% 50%;
    background-size: cover;

    ul {
        display: flex;
        align-items: center;
        min-height: 74px;

        li {
            font-size: 16px;
            line-height: 35px;
            color: #484848;
        }

        li span {
            margin: 0 6px;
        }

        li:last-child {
            color: #FA9371;
        }

        a:hover {
            color: #FA9371;
        }
    }
}

.catalog-title h1 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #2C2B2B;
    margin: 50px 0 20px;
}

.catalog-content {
    display: flex;
    justify-content: space-between;

    .left-content {
        padding-right: 15px;
    }

    .right-content {
        padding-left: 15px;
        width: 100%;
    }
}

.catalog-list .main-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #616161;
    border-radius: 4px;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 20px;
    min-width: 350px;
    border-top: 4px solid #149B05;

    a {
        color: #fff;

        &:hover {
            color: #149B05;
        }
    }

    .open {
        display: block;
        background-image: url(../img/catalog-img/plus.svg);
        background-repeat: no-repeat;
        background-position: 99% 12px;
        color: white;
        padding-right: 20px;
    }

    .close {
        display: block;
        background-image: url(../img/catalog-img/minus.svg);
        background-repeat: no-repeat;
        background-position: 99% 12px;
        color: white;
        padding-right: 20px;
    }

    .sub-menu {
        display: none;
        padding-left: 25px;
    }
}

.links-pictures {
    display: flex;
    justify-content: space-between;

    .links-pictures-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .links-pictures-left a,
    .links-pictures-right a {
        position: relative;

        p {
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 16px;
            line-height: 15px;
            color: #fff;
            background: #FA9371;
            border-radius: 4px;
            padding: 15px 20px;
            min-width: 140px;
            text-align: center;
            transition: ease-in .3s;

            &:hover {
                background-color: #149B05;
            }
        }
    }

}

.right-content {
    margin-bottom: 25px;

    .sub-catalog-title h1 {
        font-size: 24px;
        line-height: 28px;
        color: #616161;
        margin-top: 30px;
    }

    .sub-catalog-text p {
        font-size: 16px;
        line-height: 22px;
        color: #828282;
    }
}

// catalog.html----------------------------------

@import 'media';